body {
    background-color: #CD9E58;
}

#txt {
    color: white;
    font-size: 40px;
}

#logo-icon {
    margin-left: 28px;
    width: 200px;
    height: 200px;
}

#box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.row {
    width: 100%;
}

form {
    width: auto;
}

.btn {
    background-color: black;
    color: white;
    font-weight: 600;
    border: #000000;
    margin-top: 4.4vh;
    border-radius: 10px;
    width: 150px;
    padding: 20px;
    text-align: center;
}

.btn:hover {
    background-color: rgb(43, 43, 43);
    transition: 0.5s;
}