body {
    background-image: linear-gradient(to right, #CD9E58 65%, rgb(0, 0, 0) 50%);
}

#Login {
    color: white;
    font-size: 40px;
}

#logo-icon {
    margin-left: 28px;
}

.row {
    width: 1200px;
}

.btn-signIn {
    background-color: black;
    color: white;
    font-weight: 600;
    border: #000000;
    border-radius: 10px;
    width: 150px;
    height: 60px;
}

.btn-signUp {
    background-color: #CD9E58;
    color: black;
    font-weight: 600;
    border: #000000;
    margin-top: 20%;
    border-radius: 10px;
    width: 150px;
    height: 60px;
}

#dont-have {
    color: white;
    font-size: 40px;
    height: 160px;
}

#left-side {
    width: 650px;
    margin-right: 120px;
}

#right-side {
    margin-top: 9%;
    margin-left: 100px;
    color: white;
}