body {
    background-color: #000000;
}

#account {
    font-size: 40px;
    color: #000000;
    margin-bottom: 50px;
}

#welcome-message {
    font-size: 30px;
}

#logo-icon {
    margin-left: 20px;
}

.form-control {
    background-color: #D9D9D9;
    margin-bottom: 50px;
    max-width: 440px;
}

.form-control:focus {
    background-color: #D9D9D9;
    border-color: #D9D9D9;
}


#box {
    width: 873.59px;
    height: 591.3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    background: linear-gradient(to right, #CD9E58 0, #CD9E58 60%, #DAA213 30%);
    border-radius: 20px;
    position: absolute;
    padding: 5%;
}

.row {
    width: 873.59px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-left: 35px;
    margin-top: 20px;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    position: absolute;
}

#right-side {
    margin-top: -100px;
    margin-left: 35px;
}

.btn {
    background-color: black;
    border: #000000;
    border-radius: 10px;
    width: 150px;
    padding: 20px;
}

.btn:hover {
    background-color: rgb(43, 43, 43);
    transition: 0.5s;
}

