body {
    background-color: #DAA213;
}

/*navbar customização*/
#div-conteiner {
    margin-left: 2%;
}

.navbar-custom {
    background-color: #FFC062;
}

/*barra de procurar*/
.navbar-custom .form-control {
    background-color: #DAA213;
    border-color: #DAA213;
    width: 300px;
}

.navbar-custom .btn {
    border-color: #1E1E1E;
    color: #1E1E1E;
    margin-right: 5%;
}

/*icones de logo*/
.navbar-brand {
    margin-right: 10%;
}

/*icones da navbar*/
.navbar-custom .nav-link {
    margin-left: 30%;
}

#btn_search:hover {
    background-color: #1E1E1E;
    transition: 0.25s ease-in-out;
    color: whitesmoke;
}

#box{
    background-color:black;
    height: 1000px;
    width: 1700px;
    left: 20%;
    position: absolute;

}

#msg_send{
    position: absolute;
    bottom: 5000px;

}