body {
    background-color: #DAA213;
}

/*navbar customização*/
#div-conteiner {
    margin-left: 2%;
}

.navbar-custom {
    background-color: #FFC062;
}

/*barra de procurar*/
.navbar-custom .form-control {
    background-color: #DAA213;
    border-color: #DAA213;
    width: 300px;
}

.navbar-custom .btn {
    border-color: #1E1E1E;
    color: #1E1E1E;
    margin-right: 5%;
}

/*icones de logo*/
.navbar-brand {
    margin-right: 10%;
}

/*icones da navbar*/
.navbar-custom .nav-link {
    margin-left: 30%;
}

#btn_search:hover {
    background-color: #1E1E1E;
    transition: 0.25s ease-in-out;
    color: whitesmoke;
}

/*fim da navbar*/


#box {
    background-color: #1E1E1E;
    width: 70%;
    height: 82%;
    left: 30%;
    position: absolute;
    text-align: center;
}

.first {
    width: 100%;
    height: 82%;
}

.second {
    width: 100%;
    height: 18%;
    top: 10%;
}

#foto-msg {
    border-radius: 120px;
    background-color: #1E1E1E;
    text-align-last: center;
}

#txt-message {
    margin-top: 15px;
}


.btn-msg {
    border-color: #1E1E1E;
}

.btn-msg:hover {
    opacity: 80%;
    background-color: #b48610b9;
}

#write {
    top: 90%;
}