body {
    background-color: #DAA213;
}

/*navbar customização*/
#div-conteiner {
    margin-left: 2%;
}

.navbar-custom {
    background-color: #FFC062;
}

/*barra de procurar*/
.navbar-custom .form-control {
    background-color: #DAA213;
    border-color: #DAA213;
    width: 300px;
}

.navbar-custom .btn {
    border-color: #1E1E1E;
    color: #1E1E1E;
    margin-right: 5%;
}

/*icones de logo*/
.navbar-brand {
    margin-right: 10%;
}

/*icones da navbar*/
.navbar-custom .nav-link {
    margin-left: 30%;
}

#btn_search:hover {
    background-color: #1E1E1E;
    transition: 0.25s ease-in-out;
    color: whitesmoke;
}

/*fim da navbar*/


#box {
    background-color: #1E1E1E;
    width: 70%;
    height: 82%;
    left: 30%;
    position: absolute;
    text-align: center;
}

.row {
    width: 100%;
}

.first {
    width: 100%;
    height: 82%;
}

.second {
    width: 100%;
    height: 18%;
    top: 10%;
}

#foto-msg {
    border-radius: 120px;
    background-color: #1E1E1E;
    text-align-last: center;
}

#txt-message {
    margin-top: 15px;
}


.btn-msg {
    border-color: #1E1E1E;
}

.btn-msg:hover {
    opacity: 80%;
    background-color: #b48610b9;
}

#write {
    top: 90%;
}


#boxmsg {
    color: white;
    width: 100%;
}

#boxmsg2 {
    color: white;
}

.mensagem {
    background-color: #DAA213;
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    position: absolute;
    left: 10%;
}

.mensagem2 {
    background-color: #a77c0f;
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    width:  30%;
    position: absolute;
    right: 10%;
    top: 30%;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 15px;
}

#boxDigit {
    width: 80%;
    left: 5%;
    position: absolute;
    margin-top: 10px;
    top: 100%;
}

.btn-send {
    right: 5%;
    position: absolute;
    top: 100%;
    background-color: black;
    color: white;
    font-weight: 600;
    border: #000000;
    margin-top: 4.4vh;
    border-radius: 10px;
    width: 80px;
    padding: 10px;
    margin-top: 6px;
    text-align: center;
}

.btn-send:hover {
    background-color: rgb(43, 43, 43);
    transition: 0.5s;
}

.btn-send:active:hover {
    background-color: rgb(43, 43, 43);
}