body {
    background-color: #000000;
}

.row-custom {
    margin-bottom: 50px;
}

#foto-perfil {
    width: 250px;
    height: 250px;
}

#edit-profile {
    color: white;
}

.form-group {
    margin-bottom: 30px;
}

.form-control {
    padding: 15px;
    border-radius: 20px;
}

.col-nicks {
    margin-left: 50px;
    width: 50%;
}

.btn {
    background-color: #CD9E58;
    color: black;
    font-weight: 600;
    border: #000000;
    margin-top: 4.4vh;
    border-radius: 10px;
    width: 100px;
    padding: 15px;
    text-align: center;
}

.btn:hover {
    background-color: #9b7843;
    transition: 0.5s;
    color: black;
}

#btn-change_password {
    width: 180px;
    padding: 20px;
}

#InputBio {
    width: auto;
}

#logout{
    margin-left: 40%;
}

.custom-col{
    margin-left: 60%;
}

#savebtn{
    width: 180px;
    margin-right: 57.5%;
    
}

#atention{
    color: aliceblue;
}
