body{
    background-color: #1E1E1E;
}

/*navbar customização*/
#div-conteiner {
    margin-left: 2%;
}

.navbar-custom {
    background-color: #FFC062;
}
/*barra de procurar*/
.navbar-custom .form-control {
    background-color: #DAA213;
    border-color: #DAA213;
    width: 300px;
}

.navbar-custom .btn {
    border-color: #1E1E1E;
    color: #1E1E1E;
    margin-right: 5%;
}
/*icones de logo*/
.navbar-brand {
    margin-right: 10%;
}

/*icones da navbar*/
.navbar-custom .nav-link {      
    margin-left: 30%;
}

#btn_search:hover {
    background-color: #1E1E1E;
    transition: 0.25s ease-in-out;
    color: whitesmoke;
}



#btn_logout:hover {
    background-color: #f5b75a
}

#btn_edit {
    padding: 12px 28px;
}

#btn_edit:hover {
    background-color: #808080
}
#btn_save {
    background-color: #DAA213;
   
   
}

#btn_save:hover{
    background-color: #FFC062;
}

#btn_cpass{
    background-color: #DAA213;
    padding: 14px 40px;
}

#btn_cpass:hover{
    background-color: #FFC062;
}
.btn{
    background-color: #DAA213;
    width: 200px;
    height: 80px;
    margin-top:20px;
    bottom: 100px;
}


#form-control{
    margin-bottom: 40px;
}

#user{
    position: relative;
    right: -380px;
    top: -100px;
    bottom: -120px;
}

#nick{
    position: relative;
    right: -380px;
    top: -100px;
}

#buttons{
    position: relative;
    bottom: -100px;
    right: -100px;
}

#bio{
    position: relative;
    bottom: -20px;
    left: -20px;
    border-radius: 8%;
}

#foto-perfil{
    position: relative;
    bottom: -50px;
}

#btn_logout{
    position: relative;
    bottom: -100px;
    right: -300px;
    
}