
    body{
        background-color: #000000;
        text-align: center;
        font-weight: bold;
        
    }
    form{
        color: rgb(0, 0, 0); 
    }
    .form-control{
       background-color: #D9D9D9;
    }
    .form-control:hover{
        background-color: #D9D9D9;
    }


    #box{
        color: #000000;
        background: linear-gradient(to right,#CD9E58 0, #CD9E58 70%, #DAA213 30%);
        position: absolute;
        top: 40%;
        left: 15%;
        /*transform: translate(50%, -50%);*/
        border-radius: 10%;
        padding: 23%;
        width: 70%;
        height: 70%;
    }

    .btn{
        background-color: black;
        border: #000000;   
    }

    #account{
        font-size: 40px;
        color: #000000;
        
    }


    
   
