body {
    background-color: #1E1E1E;
}

/*navbar customização*/
#div-conteiner {
    margin-left: 2%;
}

.navbar {
    position: fixed;
    width: 100%;
}

.navbar-custom {
    background-color: #FFC062;
}

/*barra de procurar*/
.navbar-custom .form-control {
    background-color: #DAA213;
    border-color: #DAA213;
    width: 300px;
}

.navbar-custom .btn {
    border-color: #1E1E1E;
    color: #1E1E1E;
    margin-right: 5%;
}

/*icones de logo*/
.navbar-brand {
    margin-right: 10%;
}

/*icones da navbar*/
.navbar-custom .nav-link {
    margin-left: 30%;
}

#btn_search:hover {
    background-color: #1E1E1E;
    transition: 0.25s ease-in-out;
    color: whitesmoke;
}
/*fim da navbar*/


#box {
    width: 30%;
    height: 70%;
    top: 47%;
    left: 82%;
    transform: translate(-50%, -50%);
    color: #000000;
    background-color: #DAA213;
    border-radius: 20px;
    position: absolute;
    position: fixed;
    padding: 2%;
}

#box-2 {
    width: 100%;
    margin-top: 70px;
}

#txt-message {
    font-size: 3vw;
    text-align-last: center;
    margin-bottom: 15px;
}

#txt-message2 {
    margin-top: 15px;
}

.choice {
    margin-top: 20px;
}

.btn-choose {
    color: white;
    background-color: transparent;
    text-align-last: center;
    width: 100%;
}

.btn-choose:hover {
    color: white;
    background-color: #474747;
}

.btn-choose:active:hover {
    color: white;
    background-color: #474747;
}

.btn-quatti {
    width: 280px;
    height: 60px;
    top: 80%;
    right: 9%;
    color: #000000;
    background-color: #DAA213;
    border-radius: 50px;
    position: fixed;
}

#txt-quatti {
    font-size: 50px;
    margin-top: -10px;
}

.btn-quatti:hover {
    background-color: #b48610;
}

.btn-quatti:active:hover {
    color: #000000;
    background-color: #b48610;
}

#foto-msg {
    border-radius: 120px;
    background-color: #1E1E1E;
    text-align-last: center;
}

label {
    width: fit-content;
}

#btn-msg1 {
    color: #000000;
    background-color: transparent;
    border-color: transparent;
}

#btn-msg1:hover {
    opacity: 80%;
    background-color: #b48610b9;
}

/*feed*/
.container-feed {
    padding: 3%;
    color: white;
    width: 100%;
    margin-left: 0%;
    background-color: #252525;
    margin-bottom: 5px;
}

.row-text {
    margin-left: 85px;
}

.imagens {
    width: auto;
    height: 250px;
    margin-top: 15px;
}

.escritas {
    width: auto;
    height: auto;
     margin-top: 15px;
}

.row-items {
    margin-top: 20px;
}

#first-item {
    margin-left: 85px;
}

#items {
    border-radius: 80px;
}

#items:hover {
    background-color: #3d3d3d;
    transition: 0.5s;
}

.lado-direito {
    align-items: center;
    width: 450;
}

#pato-gif {
    text-align: center;
    margin-top: 15%;
    right: 11%;
    position: fixed;
}