body {
    background-color: #1E1E1E;
}

/*navbar customização*/
#div-conteiner {
    margin-left: 2%;
}

.navbar-custom {
    background-color: #FFC062;
}

/*barra de procurar*/
.navbar-custom .form-control {
    background-color: #DAA213;
    border-color: #DAA213;
    width: 300px;
}

.navbar-custom .btn {
    border-color: #1E1E1E;
    color: #1E1E1E;
    margin-right: 5%;
}

/*icones de logo*/
.navbar-brand {
    margin-right: 10%;
}

/*icones da navbar*/
.navbar-custom .nav-link {
    margin-left: 30%;
}

#btn_search:hover {
    background-color: #1E1E1E;
    transition: 0.25s ease-in-out;
    color: whitesmoke;
}


/*css perfil*/

.first-row {
    margin-top: 60px;
    color: whitesmoke;
}

#foto-perfil {
    width: 250px;
    height: 250px;
}

#edit-profile {
    color: white;
}

#edit-profile:hover {
    color: darkgrey
}

.profile-custom {
    color: white;
}

#username {
    opacity: 60%;
    margin-top: 0.5%;
}

#bio {
    margin-top: 5%;
}

#highlight-icon {
    width: 200px;
    height: 200px;
    margin-top: 50px;
}

.second-row {
    color: white;
    width: 100%;
    margin-top: 30px;
}


.btn-choose {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0%;
}

.btn-choose:hover {
    background-color: transparent;
    border-color: transparent;
}

#achievements {
    color: whitesmoke;
}

#achievements:hover {
    color: darkgrey
}